/bitrix/activities/bitrix/
/bitrix/admin
/bitrix/cache
/bitrix/components/bitrix
/bitrix/components/demo
/bitrix/gadgets/bitrix
/bitrix/controller_log
/bitrix/image_uploader
/bitrix/images
/bitrix/js
/bitrix/managed_cache
/bitrix/stack_cache
/bitrix/modules
/bitrix/otp
/bitrix/sounds
/bitrix/template/
/bitrix/themes
/bitrix/tmp
/bitrix/tools
/bitrix/wizards/bitrix
/bitrix/*.php
/upload
/web.config
/bitrix/php_interface/dbconn.php
/bitrix/web.config
/bitrix/panel
/bitrix/p3p.xml
/phpinfo.php 
*.log
*.tar.gz
*.tar
*.zip
