div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/*news*/
.news_block
{
    background: url("/bitrix/templates/.default/images/dark_bg.png") 0 0 repeat;
    overflow: hidden;
    padding: 14px 22px;
}
.news_item
{
    float: left;
    margin-left: 8px;
    width: 300px;
}
.news_item a.news_name:visited
{
    color: #999;
}

.news_item:first-child
{
    margin-left: 0;
}
.news_item img
{
    float: left;
    width: 95px;
}
.news_item_description
{
    line-height: 1.4em;
    margin-left: 105px;
    margin-top: -4px;
    overflow: hidden;
    font-size: 0.9em;
}
.inverse .news_item_description a:hover
{
    color: #999;
}
.news_item_date
{
    font-family: "PTSans_Italic";
    font-size: 12px;
    margin-top: 4px;
}
/*x_news*/