table.sale-personal-order-list{
    color: #000;
    font-size: 1em;
    border-collapse: collapse;
    width:100%;
}

table.sale-personal-order-list thead, table.sale-personal-order-list th{
    font-size: 0.857em;
    font-family: "PTSans_Bold";
    background-color: #efefef;
    color: #666;
}
table.sale-personal-order-list td {
    padding: 7px 30px 15px 7px;
}
table.sale-personal-order-list thead td, table.sale-personal-order-list th{
    padding-bottom: 7px;
}
table.sale-personal-order-list td:first-child{
    width: 253px;
}
table.sale-personal-order-list td.action{
    width: 150px;
}
table.sale-personal-order-list td.action a{
    display: block;
    margin-bottom: 6px;
}



/*FILTER*/
table.sale-personal-order-list-filter{
    color: #000;
    font-size: 1em;
    border-collapse: collapse;
    width:100%;
}

table.sale-personal-order-list-filter thead, table.sale-personal-order-list-filter th{
    font-size: 0.857em;
    font-family: "PTSans_Bold";
    background-color: #efefef;
    color: #666;
}
table.sale-personal-order-list-filter td {
    padding: 4px 30px 4px 7px;
}
table.sale-personal-order-list-filter thead td, table.sale-personal-order-list-filter th{
    padding-bottom: 7px;
}
table.sale-personal-order-list-filter td:first-child{
    width: auto;
}
table.sale-personal-order-list-filter td.action{
    width: 150px;
}
table.sale-personal-order-list-filter td.action a{
    display: block;
    margin-bottom: 6px;
}